.storeList{
  margin-top: 10%;
}

a.ingredientName {
    display: block;
}

a.ingredientName:first-letter {
    text-transform: capitalize
}



.App {
  height: 100%;
  text-align: center;
  background-image: url('../assets/images/bgimg.png');

  background-size: cover;
}
.storeListCard{
border:"2px solid orange"}
.done{
  height: 100%;
  text-align: center;
  background-image: url('../assets/images/bgimg.png');
  background-size: cover;
}
.Ingredients{
  height: 100%;
  background-image: url('../assets/images/bgimg.png');
  background-size: cover;
}
.abc{
  width:50%;
  margin-left:25%;
  margin-right:50%;
  background-color:#d1cfcf;
  margin-top:7%;
  border-radius:20px;
}

.anchor{
  color:#FBE5D6;
}
.menu{
  font-weight: bolder !important;
  font-size: 120%
}

a:hover{
  text-decoration: underline;
}

.ui.form select{
  width:75%;
  background-color: #CCE2FF;
  border:'2px solid black';
  margin-left:12%;
}

.urlInput{
  width:75%;
  background-color: #CCE2FF;
  border:'2px solid black';
  cursor: pointer;
}
.ui.tabular.menu .active.item{
  background-color: #333F50;
  border-left: 3px solid #FF7701;
  border-top: 3px solid #FF7701;
  border-right: 3px solid #FF7701;
}
.ui.tabular.menu .item{
  font-family: "Poor Richard";
  font-weight: bolder;
  font-size: 18px;
  color: #333F50;

}
